<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:workspace-app.app.link</string>
		<string>applinks:workspace-app.test-app.link</string>
		<string>applinks:tryworkspace.com</string>
		<string>applinks:tryworkspace-app</string>
	</array>
</dict>
</plist>
